.search form {
  margin-block-start: 1.25rem;
  margin-block-end: 1.5rem;
}

.search label {
  font-weight: 600;
  font-size: 1.3rem;
  margin-block-end: 0.8rem;
  display: block;
}

.search-container {
  display: flex;

  & > * {
    border: 0;
    border-radius: var(--radius);
  }
}

input {
  background-color: var(--grey);
  flex: 1;
  font-size: 1rem;
  padding-inline: 0.5rem;
}

button {
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--black);
  border: 0;
  cursor: pointer;
  margin-inline-start: 1rem;
}

.shortcut {
  padding: 0.9rem 0;
  border-bottom: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shortcut__label {
  font-weight: 500;
  font-size: 1.125rem;
}

.keys {
  display: flex;
  align-items: center;
}

.spacer {
  padding: 0 0.5rem;
  color: #525252;
  font-size: 1.4rem;
}

.key {
  border-radius: 4px;
  background: var(--grey);
  height: 40px;
  padding: 0 0.5rem;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
