<p class="spacer">+</p>
<p class="key"><slot /></p>

<style>
  .key {
    border-radius: 4px;
    background: var(--grey);
    height: 40px;
    padding: 0 0.5rem;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }

  .spacer {
    padding: 0 0.5rem;
    color: #525252;
    font-size: 1.4rem;
  }
</style>
