---
import '../styles/styles.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VoiceOver shortcuts</title>
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>VoiceOver shortcuts</h1>
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
  </body>
</html>
