---
import '../styles/styles.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VoiceOver shortcuts</title>
  </head>
  <body>
    <header class="app-header">
      <div class="container">
        <h1>VoiceOver <span>shortcuts</span></h1>
      </div>
    </header>
    <main class="app-content">
      <div class="container">
        <slot />
      </div>
    </main>
    <footer class="app-footer">
      <div class="container">
        <a href="/about">About</a>
      </div>
    </footer>
  </body>
</html>
